* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LOADER */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader-text {
    color: white;
    padding-bottom: 25px;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}
html, body {
    height: 100%;
}
.app {
    height: 100%;
    background-color: tomato;
}
.main-container {
    height: 100%;
    position: relative;
    left: 10%;
    background-color: gray;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.game {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 400px;
    border: 2px solid black;
    margin: 15px;
    align-items: center;
}
.pick-random {
    width: 50%;
    margin: 10px 0px;
}
.vs {
    display: flex;
    flex-direction: column;
}
.card {
    margin: 0.1em 0.45em;
    width: 20.3vw;
    height: 24vw;
    border: 3px solid black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: white;
}
.card h1 {
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.card>img {
    margin-left: calc(50% - 4.5vw);
    width: 9vw;
    height: 9vw;
}
.poke-info {
    display: flex;
}
.stats {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3px;
}
.stats img {
    width: 2.4vw;
    height: 2.4vw;
}
.stats div {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.stats div p {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.2vw;
    padding-top: 10px;
}
.type {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.type p {
    font-size: 1.25em;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0.3em 0;
}
.bug {background-color: #A8b820;}
.bug2 {background-color: #dbeb53; border-color: #758500;}
.dark {background-color: #705848;}
.dark2 {background-color: #a38b7b; border-color: #402515;}
.normal {background-color: #a8a878;}
.normal2 {background-color: #dbdbab; border-color: #757545;}
.fire {background-color: #f08030;}
.fire2 {background-color: #f3b363; border-color: #c05000;}
.dragon {background-color: #7038f8;}
.dragon2 {background-color: #a36bfb; border-color: #4005c5;}
.flying {background-color: #a890f0;}
.flying2 {background-color: #dbc3f3; border-color: #7560c0; }
.electric {background-color: #f8d030;}
.electric2 {background-color: #fbf363; border-color: #c5a000;}
.fairy {background-color: #ee99ac;}
.fairy2 {background-color: #ffccdf; border-color: #bb6679;}
.fighting {background-color: #c03028;}
.fighting2 {background-color: #f3635b; border-color: #900005;}
.ghost {background-color: #705898;}
.ghost2 {background-color: #a38bcb; border-color: #402565;}
.poison {background-color: #a040a0;}
.poison2 {background-color: #d373d3; border-color: #701070;}
.grass {background-color: #78c850;}
.grass2 {background-color: #abfb83; border-color: #459520;}
.ground {background-color: #e0c068;}
.ground2 {background-color: #f3f39b; border-color: #b09035;}
.ice {background-color: #98d8d8;}
.ice2 {background-color: #cbfbfb; border-color: #65a5a5;}
.steel {background-color: #b8b8d0;}
.steel2 {background-color: #ebebf3; border-color: #8585a0;}
.psychic {background-color: #f85888;}
.psychic2 {background-color: #fb8bbb; border-color: #c52333;}
.rock {background-color: #b8a038;}
.rock2 {background-color: #ebd36b; border-color: #857005;}
.water {background-color: #6890f0;}
.water2 {background-color: #9bc3f3; border-color: #3560c0;}
.typeValues p {
    padding: 3px 15px 3px 15px;
    border-radius: 15px;
}
.misc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HEALTH BAR */ 
.health-box {
    background-color: #ccc;
    height: 30px;
    width: 500px;
    margin: 0 auto;
    border: solid 1px #aaa;
}
.health-bar {
    background-color: #007f00;
    width: 100%;
    height: 28px;
    position: relative;
    bottom: 56px;
}
.health-bar-red {
    width: 100%;
    height: 100%;
    background-color: #cc0000;
}
.health-bar-blue {
    width: 100%;
    height: 100%;
    background-color: #3bd3df;
    bottom: 28px;
    position: relative;
}
.health-bar-text {
    text-align: center;
    position: relative;
    bottom: 80px;
}
.animate {
    transition-duration: 1500ms;
}
.message-box {
    width: 50vw;
    height: 200px;
    background-color: white;
    overflow-y: scroll;
}
  